//- Icon sprite and icon utils.
//- @author Pummarola
//- Usage: +iconSprite()
//- Usage: +icon({ name: 'project-logo' })
//- Usage: +icon({ name: 'project-logo', title: 'Project logo' })(class='site-brand-icon')

mixin iconSprite()
  svg.site-icons(
    aria-hidden='true',
    style='position:absolute;width:0;height:0;overflow:hidden;',
    xmlns='http://www.w3.org/2000/svg'
  )
    defs
      //- Project

      //- UI

mixin icon(props = {})
  - var name = props.name || props
  - var title = props.title
  - var iconId = String(name || '')
  - iconId = iconId === 'project-logo' || iconId.indexOf('icon-') === 0 ? iconId : 'icon-' + iconId

  svg.site-icon&attributes(attributes)(
    aria-hidden=title ? null : 'true',
    focusable='false',
    role=title ? 'img' : null
  )
    if title
      title= title
    use(href='#' + iconId)
