//- Button component.
//- @author Pummarola
//- Usage: +button({ label: 'Click me' })
//- Usage: +button({ label: 'Read more', href: '/about', variant: 'secondary' })
//- Usage: +button({ label: 'Delete', type: 'submit', disabled: true })

mixin button(props = {})
  - var label = props.label || 'Button'
  - var href = props.href
  - var type = props.type || 'button'
  - var variant = props.variant || 'primary'
  - var size = props.size || 'base'
  - var disabled = Boolean(props.disabled)
  - var className = ['button', 'button--' + variant, 'button--' + size]

  if href
    a(class=className, href=disabled ? null : href, aria-disabled=disabled ? 'true' : null)&attributes(attributes)
      if block
        block
      else
        = label
  else
    button(class=className, type=type, disabled=disabled)&attributes(attributes)
      if block
        block
      else
        = label
